[user]
    name = Akshay Bazad
    email = AkshayBz@yahoo.co.in

[apply]
    # Detect whitespace errors when applying a patch
    whitespace = fix

[core]
    # Use custom `.gitignore` and `.gitattributes`
    excludesfile = ~/.gitignore

    # Treat spaces before tabs and all kinds of trailing whitespace as an error
    # [default] trailing-space: looks for spaces at the end of a line
    # [default] space-before-tab: looks for spaces before tabs at the beginning of a line
    whitespace = space-before-tab,-indent-with-non-tab,trailing-space

    # Make vim the default editor
    editor = nvim

    preloadindex = true

# Colors!
[color]
    ui = always
    auto = true

[commit]
    # https://help.github.com/articles/signing-commits-using-gpg/
    # gpgsign = true

[branch]
    autosetuprebase = always

[merge]
    conflictstyle = diff3

[push]
    # Ref: http://stackoverflow.com/a/23918418/89484
    default = current

[alias]
    ci = commit
    st = status
    lg = log --all --graph --decorate --date-order
    po = push origin HEAD

[pull]
    rebase = true

[rebase]
    autoStash = true
